# Core
pyspark>=4.0.0.dev0
pandas>=2.2.0,<3.0.0
numpy>=2.0.0
pyarrow<16.0.0
requests==2.32.3
python-dotenv==1.0.1
PyYAML==6.0.2

# F1 data
fastf1==3.8.1

# ML
scikit-learn==1.5.1
xgboost==2.1.1
mlflow==2.15.1

# Viz/reporting
plotly==5.23.0
streamlit==1.37.1

# Auth
bcrypt>=4.1.0

# ORM + DB
sqlalchemy>=2.0.0
alembic>=1.13.0
psycopg2-binary>=2.9.0

# Config
pydantic>=2.0.0
pydantic-settings>=2.0.0

# Data quality and orchestration
great-expectations==1.1.2

# Dev
pytest==8.3.2
ruff==0.5.7
black==24.8.0
